# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.swo
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
/android/.gradle/
/android/.idea/
/android/local.properties
/android/key.properties
/android/app/debug
/android/app/profile
/android/app/release

# iOS related
/ios/.symlinks/
/ios/Pods/
/ios/.generated/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework

# Web related
/web/.dart_tool/
/web/.flutter-plugins/
/web/.flutter-plugins-dependencies

# Windows/Linux/macOS related
/windows/.dart_tool/
/linux/.dart_tool/
/macos/.dart_tool/
# 测试 2

# Ignore release-builds folder in the main branch
release-builds/
